<div class = "container">
  <div class="form-inline">
    <% provide(:title, "Log in") %>
    <h1 id = "welcome_title">Welcome to Acebook!</h1>
    <h5 id = "courier">Enter Your Details</h5>
    <%= form_for(:session, url: login_path) do |form| %>

      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>

      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>

      <%= form.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
